.landing-page{
    display: inline-block;
    height: 3000px;
    width:100%;
    background-image:linear-gradient(to bottom, #000000, #2b2b2b);
}

.heading{
    display: inline-flex;
    height: 105px;
    width: 100%;
    background-color:rgb(0, 0, 0);
    margin-top: 0px;
    position: fixed;
}
.logo{
    display: flex;
    height: 95px;
    width: 130px;
    margin-top: 5px;
    margin-left: 43px;
}

.nav-button{ 
    display: flex;
    margin-left: 865px;
    margin-top: 32px;
}
#H-b1{
    height: 35px;
    width: 130px;
    margin: 5px 30px 5px 10px;
    border-radius: 15px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
    
}

.mid-body1{
    background-color: transparent;
    height: 780px;
    width: 100%;
    margin-top: 110px;
    display: inline-flex;
}
.para-block{
    background-color: transparent;
    height: 280px;
    width: 50%;
    margin-left: 80PX;
    margin-top: 150px;
    
}
p{
    color: whitesmoke;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: x-large;
 
}
h2{
  color: whitesmoke;
}

.video{
    background-color: transparent;
    height: 330px;
    width: 50%;
    margin-left: 150PX;
    margin-top: 150px;
}
#fixoraVideo{
    height: 330px;
    margin-left: 15px;
}

.service-title{
    text-align: center;
    font-size: large;
    height: 100px;
    width: 100% ;
    color: #ffffff;
    background-color:transparent;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    margin-bottom: 50px;
}
.mid-body2{
    background-color:transparent;
    display:block;
    height: 1700px;
    width: 100%;
}
.card {
    background:transparent;
    height: 400px;
    width: 600px;
    padding: 20px;
    text-align: center;
    margin-left: 80px;
    
}
#serv1{
    height: 400px;
    width: 600px;
    background-color: transparent;
    margin-top: 10px;
    margin-left: 20px;
}
.Disc{
    background-color:transparent;
    height: 400px;
    width: 1000px;
    padding: 20px;
    text-align:justify;
    margin-top: 30px;
    margin-left: 50px;
}
.serv-1{
    background-color: transparent;
    display: inline-flex;
    height: 630px;
    width: 100%;
}

.S-b1{
    height: 35px;
    width: 130px;
    margin-top: 10px;
    border-radius: 15px;
    background-color: transparent;
    border-color: rgb(255, 255, 255);
    color: rgb(255, 255, 255);
    font-size: medium;
    font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif ;
}
.serv-2{
    background-color: transparent;
    display: inline-flex;
    height: 630px;
    width: 100%;
}
.serv-3{
    background-color: transparent;
    display: inline-flex;
    height: 630px;
    width: 100%;
    margin-bottom: 50px;
}
.footer{
    margin-top: 10px;
    padding-top: 125px;
    font-size: medium;
    font-weight: 600;
    color: blue;
    background-color: transparent;
}
.foot-text{

    margin-top:20px;
    font-size: small;
}